<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conditionals and Loops</title>
    <script src='https://unpkg.com/vue'></script>
</head>
<body>
    <div id="app">
        <p v-if="show">You see me</p>
        <p v-else>Now you see me</p>
        <template v-if="show">
            <h1>Hello!</h1>
            <p>Inside template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button @click="show = !show">Switch</button>

        <ul>
            <li v-for="(ingredient, index) in ingredients" :key="ingredient">{{ ingredient }} ({{ index }})</li>
        </ul>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
            </li>
        </ul>
        <hr>
        <button @click="ingredients.push('spice')">Add New</button>
        <template v-for="(ingredient, index) in ingredients" :key="ingredient">
            <h3>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>

        <hr>

        <span v-for="n in 10">{{ n }} </span>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                show: true,
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'John', age: 27, color: 'red'},
                    {name: 'Bill', age: 'unknown', color: 'blue'}
                ]
            }
        });
    </script>
</body>
</html>