<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="boxes.css">
    <script src='https://unpkg.com/vue'></script>
</head>
<body>
    <div id="app">
        <div 
            class="demo"
            @click="attachRed = !attachRed"
            :class="divClasses">
        </div>
        <div 
            class="demo"
            @click="attachGreen = !attachGreen"
            :class="{green: attachGreen, red: attachRed}">
        </div>
        <div 
            class="demo"
            @click="attachBlue = !attachBlue"
            :class="{blue: attachBlue, red: attachRed}">
        </div>
        <div 
            class="demo"
            :class="[color, {red: attachRed}]">
        </div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
        <hr>
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
        <div class="demo" :style="myStyle"></div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                attachRed: false,
                attachGreen: false,
                attachBlue: false,
                color: 'green',
                width: 100
            },
            computed: {
                divClasses: function() {
                    return {
                        red: this.attachRed,
                        blue: !this.attachRed
                    };
                },
                myStyle: function() {
                    return {
                        backgroundColor: this.color,
                        width: this.width + 'px'
                    };
                }
            }
        });
    </script>
</body>
</html>